*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html {

    height: 100%;
}

/* ------ Reset -------*/

header{
    background-color: rgb(161, 171, 175);
    width: 100%;
    height: 110px;
    margin: 0 auto;
}

header div {
    display: flex;
    justify-content: space-around;
}

header img {
    padding: 10px  0;
    height: 70px;
    margin-top: 10px;

    cursor: pointer;
}

.container-form{
    width: 100%;
    padding: 0 4%;
    
}

.bg {

    background-image: url(../assets/bg-form.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;

    display: flex ;
    justify-content: right;
 
}

.formulario{
    background-color: white;
    width: 400px;
    height: 104%;
    margin-right: 40px;
    position: relative;
    top: -2%;
    z-index: 1;
    padding: 18px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 25px  rgb(12, 12, 12);

    text-align: center;

}

.formulario h1{
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
}


.formulario .inputBox {
    position: relative;

    width: 300px;
    height: 50px;
    margin-bottom: 45px;
    
}

.formulario .inputBox input {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 0;
    left: 30px;
    background: transparent;
    padding: 10px;
    font-size: 15px;
    outline: none;
    
}

.formulario .inputBox span {
    position: absolute;

    color: rgb(145, 140, 140);
    top: 1px;
    left: 31px;
    padding: 10px;
    display: inline-block;
    font-size: 15px;
    transition: 0.5s;
    pointer-events: none;
}

.formulario .inputBox input:focus ~ span,
.formulario .inputBox input:valid ~ span /*nao volta o neme para input*/ {

    transform: translateX(-10px) translateY(-32px);
    font-size: 12px;
    color: black;
}

.inputBox input[type="submit"] {
    background-color: #2196f3;
    color: #ccc;
    max-width: 120px; 
    font-weight: 500;
    cursor: pointer;

    margin-left: 95px;
}

.inputBox input[type="submit"]:hover {
background:#0d518a;

}

.formulario p {
    margin-top: 18px;
    font-size: 15px;
}

.chamada {
    width: 100%;
    position: relative;
    z-index: -1;
    text-align: center;
    display: inline-block;
    padding: 0 4%;
    margin-top: 30px;
    
}

.chamada .container-form {
    padding: 45px ;
}

.chamada .container-form h3 {
    margin-top: 20px;
}

.chamada h1 {
    width: 96%;
    max-width: 600px;
    display: inline-block;
    color: black;
    font-size: 20px;
}

.mosaico-1 {
   display: flex;
   margin-top: 10px
   
}

.item-1{
    width: 40%;
    padding: 20px ;
    height: auto;
}

.item-2{
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 400px;
}



/* ------- responsivo -------*/

@media screen and ( max-width:960px){
    .bg{
        justify-content: center;
        
    }

    .formulario {
        margin-right:0;
    }

    .container-form {
        position: static;
        display: inline-block;

    }

    .mosaico-1{
        display: block;
    }

    .item-1{
        width: 100%;
        text-align: justify;
    }

    .item-2{
        width: 100%;
        height: 300px;
    }
}


